#status {
  height: 1.5em;
}

@media (prefers-color-scheme: dark) {
  * {
    color: silver;
    background-color: #202124;
  }
  button {
    background-color: silver;
    color: #202124;
  }
  input {
    border-style: solid;
    border-color: #333333;
  }
}
